[submodule "sites/all/modules/contrib/openlayers_plus"]
	path = sites/all/modules/contrib/openlayers_plus
	url = http://github.com/jeffschuler/openlayers_plus.git
[submodule "sites/all/libraries/wax"]
	path = sites/all/libraries/wax
	url = http://github.com/mapbox/wax.git
[submodule "sites/all/modules/contrib/mapbox"]
	path = sites/all/modules/contrib/mapbox
	url = http://git.drupal.org/project/mapbox.git
