/* Top: 33%, 66% */
.panel-3col-33-3 .panel-row-top .panel-col-first {
  float: left;
  width: 33%;
}
.panel-3col-33-3 .panel-row-top .panel-col-last {
  float: left;
  width: 66%;
}


/* Middle: 100% */
.panel-3col-33-3 .panel-row-middle .panel-panel {
}


/* Bottom: 33%, 33%, 33% */
.panel-3col-33-3 .panel-row-bottom {
  margin-top: 20px;
}
.panel-3col-33-3 .panel-row-bottom .panel-col-first {
  float: left;
  width: 33%;
}
.panel-3col-33-3 .panel-row-bottom .panel-col {
  float: left;
  width: 33%;
}
.panel-3col-33-3 .panel-row-bottom .panel-col-last {
  float: left;
  width: 33%;
}


.panel-3col-33-3 .panel-panel .inside .panel-pane {
  margin-left: 10px;
  margin-right: 10px;
}