$brown: #726965;
$khaki: #F2ECE9;
$tan: #D3CCCB;
$purple: #615FC1;
$orange: #F15B2A;
$ltgreen: #A3C6B1;
$white: #FFFFFF;
$black: #000000;

$footer_height: 229px;

$meta: "ff-meta-web-pro-1";
$museo: "museo-1";
$georgia: Georgia, "Times New Roman", Times, serif;


/* Footer Stick to Bottom
-------------------------------------------------------------- */
* {
  margin: 0;
}
html, body {
  height: 100%;
}
#page
{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -229px;
}
#footer-wrapper-wrapper, #push-footer {
  height: $footer_height;
}


/* General
-------------------------------------------------------------- */
body {
  background: $khaki url('../images/page-bg-edges.png') repeat-y top center;
  font-family: $meta;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $museo;
  font-weight: 500;
  margin-top: 1em;
}


/* Header Top
-------------------------------------------------------------- */
#header-top-wrapper {
  background-color: $tan;
}
#header-top {
  height: 35px;
}
#header-top-inner {
  text-align: right;
}
#header-top .block {
  margin: 5px 0;
}
#header-top .block .inner,
#header-top .gutter {
  margin: 0;
}
#header-top a,
#header-top a:link,
#header-top a:visited {
  color: $brown;
}
#header-top a:hover,
#header-top a:focus {
  color: $orange;
}
#header-top a:active {
  color: $purple;
}


/* Search Block (Header Top)
--------------------- */
#block-search-form input.form-submit {
  font-weight: normal;
}
#block-search-form,
#block-search-form .form-text {
  color: $brown;
}


/* Contact Links (Header Top)
--------------------- */
#block-block-2 div {
  display: inline;
}
#block-block-2 .content div {
  margin: 0 5px;
}
#block-block-2 .content div img {
  vertical-align: middle;
}
#block-block-2 .content div a {
  vertical-align: middle;
}


/* Date Banner (Header Top)
--------------------- */
#block-block-1 {
  position: absolute;
  font-family: $museo;
  text-align: center;
  color: $white;
  margin: 0 !important;
}
#block-block-1 .top {
  background-color: $ltgreen;
  width: 65px;
  height: 35px;
}
#block-block-1 .month {
  height: 35px;
  width: 65px;
  padding-top: 10px;
  font-weight: 300;
  font-size: 21px;
}
#block-block-1 .bottom {
  position: relative;
  left: 6px;
  background-image: url('../images/date-tag-bottom.png');
  width: 65px;
  height: 75px;
}
#block-block-1 .day {
  font-weight: 700;
  font-size: 32px;
  width: 65px;
  overflow: visible;
  padding-top: 14px;
  height: 27px;
}
#block-block-1 .year {
  font-weight: 300;
  font-size: 21px;
  width: 65px;
  background-color: $ltgreen;
}


/* Header
-------------------------------------------------------------- */
#header-group {
  background: $white url('../images/dot-border-horiz-tan.png') no-repeat bottom center;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

#header-site-info {
  width: 480px;
}

#header-group-inner {
  padding-top: 35px;
}

#header-group .block .inner {
  margin: 0;  
}

#site-name-wrapper {
  float: right;
}

#site-name a {
  background: transparent url('../images/gardenwalk-header-logo.png') no-repeat left top;
  height: 0;
  padding-top: 202px;
  display: block;
  overflow: hidden;
  width: 409px;
}


/* Main Menu
--------------------- */
#block-menu-primary-links {
}
#block-menu-primary-links ul {
  margin-left: 40px;
}
#block-menu-primary-links li {
  list-style-type: none;
  list-style-image: none;
  float: left;
  padding: 0 10px;
}
#block-menu-primary-links li a {
  height: 150px;
  width: 120px;
  background: transparent url('../images/menu-pot.png') no-repeat 50% bottom;
  display: block;
  text-align: center;
}
#block-menu-primary-links li a .title {
  font-family: $museo;
  font-weight: 500;
  font-size: 18px;
}
#block-menu-primary-links li a .description {
  margin-top: 10px;
  font-family: $georgia;
  font-style: italic;
}
#block-menu-primary-links li a a,
#block-menu-primary-links li a:link,
#block-menu-primary-links li a:visited {
  color: $brown;
}
#block-menu-primary-links li a:hover,
#block-menu-primary-links li a:focus,
#block-menu-primary-links li a:active {
  color: $orange;
  text-decoration: none;
  background-image: url('../images/menu-pot-hover.png');
}
#block-menu-primary-links li a.active {
  color: $purple;
  background-image: url('../images/menu-pot-active.png');
}

/* Main
-------------------------------------------------------------- */
#main {
  background-color: $white;
}
#main a,
#main a:link,
#main a:visited {
  color: $orange;
}
#main a:hover,
#main a:focus,
#main a:active {
  color: darken($orange, 20%);
}
#main h1, #main h2, #main h3, #main h4, #main h5, #main h6 {
  color: $purple;
}


/* Footer
-------------------------------------------------------------- */
#footer-wrapper-wrapper {
  height: $footer_height;
}

#footer-wrapper-top-wrapper {
  height: 65px;
  background: transparent url('../images/footer-grass.png') repeat-x bottom left;
  height: 68px;
}
#footer-wrapper-top {
  position: relative;
  margin: 0px auto;
}
#footer-wrapper-top-inner {
  position: relative;
  background: transparent url('../images/footer-tools.png') no-repeat top center;
  top: -4px;
  height: 68px;
}

#footer-wrapper {
  background-color: $brown;
}

#footer {
}

#footer-inner {
  padding: 20px 0;
}

#footer,
#footer a,
#footer a:link,
#footer a:visited,
#footer h2 {
  color: $white;
}

#footer ul li,
#footer ol li {
  list-style-type: none;
  list-style-image: none;
}

#footer ul,
#footer ol {
  margin: 0;
}


/* Gardens List Block
-------------------------------------------------------------- */
#main .view-id-gardens.view-display-id-block_1 .views-field-title a,
#main .view-id-gardens.view-display-id-block_1 .views-field-title a:link,
#main .view-id-gardens.view-display-id-block_1 .views-field-title a:visited {
  color: $purple;
}
#main .view-id-gardens.view-display-id-block_1 .views-field-tid a,
#main .view-id-gardens.view-display-id-block_1 .views-field-tid a:link,
#main .view-id-gardens.view-display-id-block_1 .views-field-tid a:visited {
    color: $black;
}


/* Gardener Stories Pane (Front Page)
-------------------------------------------------------------- */
.view-id-gardener_stories.view-display-id-block_1 td {
  vertical-align: top;
  width: 50%;
}
.view-id-gardener_stories.view-display-id-block_1 td.col-first {
  padding-right: 10px;
}
.view-id-gardener_stories.view-display-id-block_1 td.col-last {
  padding-left: 10px;
}
.view-id-gardener_stories.view-display-id-block_1 td .views-field-field-images {}
.view-id-gardener_stories.view-display-id-block_1 td .views-field-body {}
.view-id-gardener_stories.view-display-id-block_1 td .views-field-title {}


/* 3-column Panels Layout - Straightening out for Fusion
-------------------------------------------------------------- */
.panel-3col-33-stacked .panel-col-first .inside {
    margin: 0 10px 10px 0;
}
.panel-3col-33-stacked .panel-col .inside {
    margin: 0 0 10px 10px;
}
.panel-3col-33-stacked .panel-col-last .inside {
  margin: 0 -10px 10px 20px;
}


/* Image Rotator (Front Page)
-------------------------------------------------------------- */
.panel-display .panel-col-top {
  background: $white url('../images/dot-border-horiz-tan.png') no-repeat bottom center;
}