$brown: #726965;
$brown_darker: darken($brown, 10%);
$khaki: #F2ECE9;
$tan: #D3CCCB;
$purple: #615FC1;
$orange: #F15B2A;
$orange_darker: darken($orange, 20%);
$green: #059347;
$green_darker: darken($green, 10);
$ltgreen: #A3C6B1;
$ltgreen_darker: darken($ltgreen, 10);
/* $ltgreen2: #94b4a1;  Elements in header top */
$red: #D31245;
$white: #FFFFFF;
$black: #000000;
$blue: #214791;

$red_lighter: lighten($red, 20%);
$orange_lighter: lighten($orange, 20%);
$green_lighter: lighten($green, 20%);
$blue_lighter: lighten($blue, 20%);
$brown_lighter: lighten($brown, 20%);
$purple_lighter: lighten($purple, 20%);
$brown_lighter: lighten($brown, 20%);

$imgborder: 1px solid $brown;

$footer_height: 229px;

$meta: "ff-meta-web-pro-1", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
$museo: "museo-1", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
$georgia: Georgia, "Times New Roman", Times, serif;

@mixin transparent-bg($color, $opacity) {
  $rgba: rgba($color, $opacity);
  $ie-hex-str: ie-hex-str($rgba);
  background-image: none !important;
  background-color: transparent !important;
  background-color: $rgba !important;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
}

/* Footer Stick to Bottom
-------------------------------------------------------------- */
* {
  margin: 0;
}
html, body {
  height: 100%;
}
#page
{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -229px;
}
#footer-wrapper-wrapper, #push-footer {
  height: $footer_height;
}


/* General
-------------------------------------------------------------- */
body {
  background: $khaki url('../images/page-bg-paper.png') repeat top center;
  font-family: $meta;
  color: $brown_darker;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $museo;
  font-weight: 500;
  margin-top: 1em;
  line-height: 1em;
}
h1 {
  font-size: 250%;
}
h2 {
  font-size: 180%;
}
h3 {
  font-size: 130%;
}


/* Buttons
--------------------- */
form input.form-submit {
  background: $orange;
  border: 1px solid $orange_darker;
  text-shadow: 1px 1px $orange_darker;
  color: white;
  font-weight: bold;
  padding: 3px;
  cursor: pointer;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}


/* Header Top
-------------------------------------------------------------- */
#header-top-wrapper {
  @include transparent-bg(#FFF, .5);
}
#header-top {
  height: 35px;
}
#header-top-inner {
  position: relative;
}
#header-top .block {
  margin: 5px 0;
}
#header-top .block .inner,
#header-top .gutter {
  margin: 0;
}
#header-top a,
#header-top a:link,
#header-top a:visited {
  color: $brown;
}
#header-top a:hover,
#header-top a:focus {
  color: $orange;
}
#header-top a:active {
  color: $purple;
}
#header-top .contact {
  padding-top: 1px;
}


/* Search Block (Header Top)
--------------------- */
#block-search-form  {
  text-align: right;
}
#block-search-form input.form-submit {
  font-weight: normal;
  max-height: 22px;
  margin: 0;
}
#block-search-form,
#block-search-form .form-text {
  color: $brown;
  margin-top: 2px;
  vertical-align: top;
}
#edit-search-block-form--2 {
  height: 13px;
}
#block-search-form input.form-submit {
  background: $ltgreen;
  border: 1px solid $ltgreen_darker;
  text-shadow: 1px 1px $ltgreen_darker;
  margin-top: 2px;
}


/* Social/Contact Links (Header Top)
--------------------- */
#block-block-2 {
  text-align: right;
}
#block-block-2 .content div {
  margin: 0 5px;
  display: inline-block;
}
#block-block-2 .content div img {
  vertical-align: middle;
}
#block-block-2 .content div a {
  vertical-align: middle;
}
#block-block-2 .content div.social-icons {
  vertical-align: top;
}
#block-block-2 .content div.contact {
  padding-top: 2px;
}


/* Date Banner (Header Top)
--------------------- */
#block-block-1 {
  position: absolute;
  font-family: $museo;
  text-align: center;
  color: $white;
  margin: 0 !important;
}
#block-block-1 .top {
  background-color: $ltgreen;
  width: 87px;
  height: 35px;
}
#block-block-1 .month {
  height: 35px;
  width: 87px;
  padding-top: 9px;
  font-weight: 300;
  font-size: 24px;
}
#block-block-1 .bottom {
  position: relative;
  left: 6px;
  background-image: url('../images/date-tag-bottom.png');
  width: 87px;
  height: 75px;
  z-index: 10; /* higher than [over] header logo #site-name */
}
#block-block-1 .day {
  font-weight: 300;
  font-size: 20px;
  width: 87px;
  overflow: visible;
  padding-top: 12px;
  height: 27px;
}
#block-block-1 .year {
  font-weight: 700;
  font-size: 28px;
  width: 87px;
  background-color: $ltgreen;
}
#block-block-1 .time {
  font-weight: 500;
  font-size: 15px;
  width: 87px;
  background-color: $ltgreen;
}



/* Header
-------------------------------------------------------------- */
#header-group {
  padding-bottom: 15px;
}
#header-site-info {
  width: 480px;
  margin-bottom: 0;
}
#header-group-inner {
  padding-top: 35px;
  margin-bottom: 20px;
  position: relative;
}
#header-group .block .inner {
  margin: 0;
}
#site-name-wrapper {
  float: right;
}
#site-name a {
  background: transparent url('../images/gardenwalk-header-logo-trans.gif') no-repeat left top;
  height: 0;
  padding-top: 202px;
  display: block;
  overflow: hidden;
  width: 409px;
  z-index: 0; /* lower than [under] date banner #block-block-1 */
}


/* Main (Flowerpots) Menu
--------------------- */
#block-menu_block-2 {
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  right: 20px;
}
#block-menu_block-2 ul {
  margin-left: 40px;
}
#block-menu_block-2 li {
  list-style-type: none;
  list-style-image: none;
  float: left;
  padding: 0 10px;
}
#block-menu_block-2 li a {
  display: block;
  text-align: center;
}
#block-menu_block-2 li a .title {
  font-family: $museo;
  font-weight: 500;
  font-size: 18px;
}
#block-menu_block-2 li a .description {
  display: none; // TODO: remove
}
#block-menu_block-2 li a a,
#block-menu_block-2 li a:link,
#block-menu_block-2 li a:visited {
  color: $brown;
}
#block-menu_block-2 li a:hover,
#block-menu_block-2 li a:focus,
#block-menu_block-2 li a:active {
  color: $orange;
  text-decoration: none;
  background-image: url('../images/menu-pot-hover.png');
}
#block-menu_block-2 li a:hover .description,
#block-menu_block-2 li a:focus .description,
#block-menu_block-2 li a:active .description {
  color: $green;
}
#block-menu_block-2 li a.active, 
#block-menu_block-2 li a.active-trail {
  color: $purple;
  background-image: url('../images/menu-pot-active.png');
}


/* Secondary Menu
--------------------- */
#main-menu-wrapper {
}
#main-menu {
  background: $white url('../images/dot-border-horiz-tan.png') no-repeat bottom center;
}
#main-menu-inner .block {
  margin-bottom: 0;
}
#main-menu ul.menu {
  margin: 0;
}
#main-menu ul.menu li {
  padding: 0 10px 0;
}
#main-menu ul.menu li a {
  padding: 10px 0 16px;
}
#main-menu ul.menu li ul {
  padding: 10px 0;
}
#main-menu ul.menu li li a {
  padding: 5px 0;
}
#main-menu ul.menu li a,
#main-menu ul.menu li a:link,
#main-menu ul.menu li a:visited {
  color: $brown;
}
#main-menu ul.menu li a:active,
#main-menu ul.menu li a:hover {
  color: $orange;  
}
#main-menu ul.menu li a.active,
#main-menu ul.menu li a.active-trail {
  color: $purple;
}
#main-menu-wrapper ul ul {
  display: inline;
}
#main-menu-wrapper ul ul li {
  background-color: $khaki;
}

/* Main
-------------------------------------------------------------- */
#main {
  margin-bottom: 40px;
}
#main a,
#main a:link,
#main a:visited {
  color: $orange;
}
#main a:hover,
#main a:focus,
#main a:active {
  color: $orange_darker;
}
#main h1, #main h2, #main h3, #main h4, #main h5, #main h6
{
  color: $purple;
}
.page-home #main h2 a,
.page-home #main h2 a:link,
.page-home #main h2 a:visited {
  color: $purple;
}
.page-home #main h2 a:hover {
  color: $orange_darker;
}


/* Footer
-------------------------------------------------------------- */
#footer-wrapper-wrapper {
  height: $footer_height;
}
#footer-wrapper-top-wrapper {
  height: 65px;
  background: transparent url('../images/footer-grass.png') repeat-x bottom left;
  height: 68px;
}
#footer-wrapper-top {
  position: relative;
  margin: 0px auto;
}
#footer-wrapper-top-inner {
  position: relative;
  background: transparent url('../images/footer-tools.png') no-repeat top center;
  top: -4px;
  height: 68px;
}
#footer-wrapper {
  background-color: $brown;
}
#footer-inner {
  padding: 20px 0;
}
#footer,
#footer a,
#footer a:link,
#footer a:visited,
#footer h2 {
  color: $white;
}
#footer h2 {
  font-size: 160%;
}
#footer ul li,
#footer ol li {
  list-style-type: none;
  list-style-image: none;
}
#footer ul,
#footer ol {
  margin: 0;
}


/* Footer Connect Menu
-------------------------------------------------------------- */
#block-menu-menu-footer---connect .social-buttons {
  margin-top: 10px;
}


/* Gardens List Block
-------------------------------------------------------------- */
#main .view-id-gardens.view-display-id-block_1 {
  overflow-y: scroll;
  height: 500px;
}
#main .view-id-gardens.view-display-id-block_1 .views-field-title a,
#main .view-id-gardens.view-display-id-block_1 .views-field-title a:link,
#main .view-id-gardens.view-display-id-block_1 .views-field-title a:visited {
  color: $brown;
  font-size: 115%;
  font-weight: bold;
}
#main .view-id-gardens.view-display-id-block_1 .views-field-title a:hover {
  color: $orange;
}
#main .view-id-gardens.view-display-id-block_1 .views-field-field-attractions a,
#main .view-id-gardens.view-display-id-block_1 .views-field-field-attractions a:link,
#main .view-id-gardens.view-display-id-block_1 .views-field-field-attractions a:visited {
  color: $purple;
}

#main .view-id-gardens.view-display-id-block_1 .views-field-field-garden-type {
  margin: 5px 0;
}
#main .view-id-gardens.view-display-id-block_1 .views-field-field-garden-type .field-content {
  padding: 0 4px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid $black;
  color: $white;
}
#main .view-id-gardens.view-display-id-block_1 .views-field-type .Headquarters {
  border-color: $red_lighter;
  color: $red;
}
#main .view-id-gardens.view-display-id-block_1 .views-field-field-garden-type .Special-Feature {
  border-color: $orange_lighter;
  color: $orange;
}
#main .view-id-gardens.view-display-id-block_1 .views-field-field-garden-type .Private-Home-Business-Garden {
  border-color: $green_lighter;
  border-color: #039447;
  color: $green;
}
#main .view-id-gardens.view-display-id-block_1 .views-field-field-garden-type .Community-Garden {
  border-color: $blue_lighter;
  color: $blue;
}
#main .view-id-gardens.view-display-id-block_1 .views-field-field-garden-type .Urban-Farm---Market-Garden {
  border-color: $brown_lighter;
  color: $brown;
}
#main .view-id-gardens.view-display-id-block_1 .views-field-field-garden-type .Reimagining-Cleveland-Project {
  border-color: $purple_lighter;
  color: $purple;
}

#main .view-id-gardens.view-display-id-block_1 ul {
  margin-left: 0;
}
#main .view-id-gardens.view-display-id-block_1 li {
  border: 1px solid $tan;
  padding: 5px;
  list-style-type: none;
}
#main .view-id-gardens.view-display-id-block_1 li.views-row-even {
  background-color: $khaki;
}


/* Gardener Stories Pane (Front Page)
-------------------------------------------------------------- */
.view-id-gardener_stories.view-display-id-panel_pane_1 td {
  vertical-align: top;
  width: 50%;
}
.view-id-gardener_stories.view-display-id-panel_pane_1 td.col-first {
  padding-right: 10px;
}
.view-id-gardener_stories.view-display-id-panel_pane_1 td.col-last {
  padding-left: 10px;
}
.view-id-gardener_stories.view-display-id-panel_pane_1 td .views-field-field-thumbnail img {
  border: $imgborder;
}
.view-id-gardener_stories.view-display-id-panel_pane_1 .more-link {
  margin-top: 1em;
}


/* Gardener Stories Pane (Neighborhood Page)
-------------------------------------------------------------- */
.pane-views-gardener-stories-block td {
  vertical-align: top;
}
.pane-views-gardener-stories-block .views-row {
  clear: both;
  margin-bottom: 20px;
}
.pane-views-gardener-stories-block .view-id-gardener_stories.view-display-id-block .views-field-field-images {
  float: left;
  margin-right: 10px;
}
.pane-views-gardener-stories-block .view-id-gardener_stories.view-display-id-block .views-field-field-images img {
  border: $imgborder;
}
.view-gardener-stories .views-view-grid.cols-2 td {
  width: 50%;
}


/* Gardener Stories List Page
-------------------------------------------------------------- */
.view-id-gardener_stories.view-display-id-page_2 .views-field-field-images {
  float: right;
  margin-left: 10px;
  margin-bottom: 23px;
}
.view-id-gardener_stories.view-display-id-page_2 .views-field-field-images img {
  border: $imgborder;
}
.view-id-gardener_stories.view-display-id-page_2 .views-row {
  clear: both;
}


/* Gardener Story Individual Page
-------------------------------------------------------------- */
.node-story.full-node .field-name-field-images {
  float: right;
  margin-left: 20px;
}
.node-story.full-node .field-name-field-images img {
  border: $imgborder;
  padding: 0;
  margin: 0;
  display: block;
}

/* 3-column Panels Layout - Straightening out for Fusion
-------------------------------------------------------------- */
.panel-3col-33-stacked .panel-col-first .inside {
    margin: 0 10px 10px 0;
}
.panel-3col-33-stacked .panel-col .inside {
    margin: 0 0 10px 10px;
}
.panel-3col-33-stacked .panel-col-last .inside {
  margin: 0 -10px 10px 20px;
}


/* Image Rotator (Front Page)
-------------------------------------------------------------- */
.panel-3col-33-stacked .panel-col-top .inside {
  padding-bottom: 20px;
}


/* Sponsors Page
-------------------------------------------------------------- */
.page-sponsors .views-view-grid td {
  width: 25%;
  padding-bottom: 20px;
  vertical-align: bottom;
}
.page-sponsors h2 {
  margin: 40px 0;
}
.page-sponsors .views-view-grid .views-field-title {
  font-size: .85em;
  margin-top: 25px;
}


/* Sponsors Logo Rotator Block
-------------------------------------------------------------- */
#block-views-sponsors-block_2 img {
  border: 10px solid $white;
}


/* Sponsors List Block
-------------------------------------------------------------- */
#block-views-sponsors-block_1 h2 {
  color: $brown;
}


/* Headquarters Block (Neighborhood Page)
-------------------------------------------------------------- */
.pane-views-headquarters-block-2 h2.block-title {
  margin-top: 0;
}
.pane-views-headquarters-block-2 .view-id-headquarters.view-display-id-block_2 .view-header p {
  margin-bottom: 0;
}
.pane-views-headquarters-block-2 .view-id-headquarters.view-display-id-block_2 .view-content {
  color: $green;
}


/* Printable Map Block (Front Page)
-------------------------------------------------------------- */

.view-id-printable_maps.view-display-id-block_1 ul {
  margin-left: 0;
}
.view-id-printable_maps.view-display-id-block_1 li {
  list-style-type: none;
  }
.view-id-printable_maps.view-display-id-block_1 .views-field-title a {
  background: transparent url("../images/pdf-icon-16x16.png") no-repeat top left;
  padding-left: 25px;
}


/* Printable Map Block (Neighborhood Page)
-------------------------------------------------------------- */
.pane-printable-maps-panel-pane-1 {
  margin-top: 0;
  background-color: lighten($green, 65%);
  font-weight: bold;
  text-align: center;
  font-size: 140%;
  padding: 20px 0;
  border: 1px dashed lighten($green, 50%);
}


/* Panel 1-Column Layout
-------------------------------------------------------------- */
.panel-display.panel-1col .panel-separator {
  margin-top: 30px;
}


/* Special Features
-------------------------------------------------------------- */
.location-grid td {
  vertical-align: top;
  padding: 20px 10px;
}
.location-grid td.col-first {
  padding-left: 0;
}
.location-grid td.col-last {
  padding-right: 0;
}
.location-grid .views-field-title {
  font-family: $museo;
  font-size: 130%;
  color: $purple;
}
.location-grid .views-field-street {
  color: $green;
}


/* Maps
-------------------------------------------------------------- */
.openlayers-container {
  border: 1px solid $brown;
}
.openlayers-popupbox {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: none repeat scroll 0 0 lighten($black, 10%);
  opacity: 0.85;
  border: 1px solid lighten($black, 40%);
  color: $white;
  font-size: 1.1em;
  width: 300px;
  z-index: 100000;
  top: auto;
}
.openlayers-popupbox * {
  opacity: 1.0;
}
.openlayers-popupbox h2.popup-title,
.openlayers-popupbox .popup-content
{
  margin: 10px;
  padding: 0;
}
.openlayers-popupbox a.popup-close {
  border: 1px solid $purple;
  position: absolute;
  right: 2px;
  top: 2px;
  margin: 0;
  padding: 0 2px 3px 3px;
  text-transform: lowercase;
  line-height: 13px;
  font-size: 13px;
  color: lighten($purple, 20%) !important;
}
.openlayers-popupbox h2.popup-title {
  font-size: 11pt;
  color: $orange !important;
}
.openlayers-popupbox h2.popup-title strong {
  font-size: 13pt;
  color: $green !important;
  font-weight: normal;
}
.openlayers-popupbox .popup-pager,
.openlayers-popupbox .popup-count {
  display: none;
}

/* Small HQ Map on Front Page
--------------------- */
.pane-headquarters-small .openlayers-popupbox {
  left: 5px;
  width: 225px;
}
.pane-headquarters-small .openlayers-popupbox h2.popup-title {
  font-size: 11pt;
  color: $green !important;
}
.pane-headquarters-small .openlayers-popupbox h2.popup-title strong {
  color: $orange !important;
}


/* Search Results
--------------------- */
.search-snippet {
  margin-bottom: .5em;
}
.search-info .search-info-type {
  color: $green;
}


/* Forms
--------------------- */
div.vertical-tabs-processed {
  border: none;
}
.vertical-tabs ul.vertical-tabs-list li {
  background-color: $khaki;
}
.vertical-tabs ul.vertical-tabs-list,
.vertical-tabs ul.vertical-tabs-list li,
div.vertical-tabs {
  border-color: $tan;
}
.vertical-tabs-list {
  left: 0; /* reset Fusion */
}
.vertical-tabs ul li.last {
  border-bottom: 1px solid $tan; /* reset Fusion */
}
div.vertical-tabs ul li.selected {
  outline: none;
}
fieldset {
  border: 1px solid $tan;
}
fieldset#edit-agreement {
  background-color: $khaki;
}
.marker, .form-required {
  color: $red;
}
.form-submit {
  font-size: inherit;
}
.field-group-tabs fieldset fieldset legend {
  display: inline;
}

.field-group-tabs-wrapper .vertical-tabs ul.vertical-tabs-list li {
  font-size: 12pt;
}



/* Manage Gardens Table
--------------------- */
.view-display-id-page_2 .workflow-Application td {
}
.view-display-id-page_2 .workflow-Application td {
  background-color: #F9F9C5;
}
.view-display-id-page_2 .workflow-Approved td {
  background-color: lighten($green, 65%);
}
.view-display-id-page_2 .workflow-Denied td {
  background-color: lighten($red, 50%);
}


/* Page content
--------------------- */
.node-page img {
  border: $imgborder;
}
.node-page .field-name-field-attached-images {
  float: right;
}


/* Post info
--------------------- */
.submitted .author,
.submitted .date {
  color: $green_darker;
}
.label-inline {
  display: inline;
  font-weight: bold;
}


/* News content
--------------------- */
.node-news img,
.view-news img {
  border: $imgborder;
}
.view-news.view-display-id-block_1 .views-row {
  clear: both;
  margin-bottom: 20px;
}
.view-news.view-display-id-page_2 .views-field-title {
  font-size: 180%;
  margin-top: 1em;
  margin-bottom: .5em;
}
.view-news.view-display-id-block_1 .views-field-title {
  font-size: 120%;
  margin-top: 1em;
  margin-bottom: .5em;
}
.view-news .views-field-name,
.view-news .views-field-created {
  font-size: 95%;
  color: $green_darker;
}
.view-news .views-label {
  color: $black;
}
.view-news.view-display-id-block_1 .views-field-field-attached-images {
  float: right;
}
.node-news .field-name-field-attached-images,
.view-news.view-display-id-page_2 .views-field-field-attached-images,
.view-news.view-display-id-block_1 .views-field-field-attached-images {
  float: right;
  margin-left: 5px;
  margin-bottom: 5px;
}

/* Mailchimp Subscribe block/pane
--------------------- */
#mailchimp-subscribe input {
  margin-right: 2em;
}
#mailchimp-subscribe .subscriber-info label {
  display: inline-block;
  width: 6em;
}
#mailchimp-subscribe .list-selection input {
  margin-right: 1em;
}
#mailchimp-subscribe label {
  font-weight: normal;
  display: inline;
}
#mailchimp-subscribe .subscriber-info,
#mailchimp-subscribe .list-selection {
  margin-bottom: 1em;
}


/* Garden application form
--------------------- */
.page-node-add-garden {
  &.not-logged-in {
    .vertical-tabs {
      display: none;
    }
    .group-main .vertical-tabs {
      display: block;
    }
  }
}