/* Footer Stick to Bottom
-------------------------------------------------------------- */
* {
  margin: 0; }

html, body {
  height: 100%; }

#page {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -229px; }

#footer-wrapper-wrapper, #push-footer {
  height: 229px; }

/* General
-------------------------------------------------------------- */
body {
  background: #f2ece9 url("../images/page-bg-edges.png") repeat-y top center;
  font-family: "ff-meta-web-pro-1", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
  color: #57504d; }

h1, h2, h3, h4, h5, h6 {
  font-family: "museo-1", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  font-weight: 500;
  margin-top: 1em;
  line-height: 1em; }

h1 {
  font-size: 250%; }

h2 {
  font-size: 180%; }

h3 {
  font-size: 130%; }

/* Header Top
-------------------------------------------------------------- */
#header-top-wrapper {
  background-color: #d3cccb; }

#header-top {
  height: 35px; }

#header-top-inner {
  position: relative; }

#header-top .block {
  margin: 5px 0; }

#header-top .block .inner,
#header-top .gutter {
  margin: 0; }

#header-top a,
#header-top a:link,
#header-top a:visited {
  color: #726965; }

#header-top a:hover,
#header-top a:focus {
  color: #f15b2a; }

#header-top a:active {
  color: #615fc1; }

/* Search Block (Header Top)
--------------------- */
#block-search-form {
  text-align: right; }

#block-search-form input.form-submit {
  font-weight: normal;
  max-height: 22px;
  margin: 0; }

#block-search-form,
#block-search-form .form-text {
  color: #726965; }

#edit-search-block-form--2 {
  height: 13px; }

/* Contact Links (Header Top)
--------------------- */
#block-block-2 {
  text-align: right; }

#block-block-2 .content div {
  margin: 0 5px;
  display: inline; }

#block-block-2 .content div img {
  vertical-align: middle; }

#block-block-2 .content div a {
  vertical-align: middle; }

/* Date Banner (Header Top)
--------------------- */
#block-block-1 {
  position: absolute;
  font-family: "museo-1", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  text-align: center;
  color: white;
  margin: 0 !important; }

#block-block-1 .top {
  background-color: #a3c6b1;
  width: 65px;
  height: 35px; }

#block-block-1 .month {
  height: 35px;
  width: 65px;
  padding-top: 10px;
  font-weight: 300;
  font-size: 21px; }

#block-block-1 .bottom {
  position: relative;
  left: 6px;
  background-image: url("../images/date-tag-bottom.png");
  width: 65px;
  height: 75px;
  z-index: 10;
  /* higher than [over] header logo #site-name */ }

#block-block-1 .day {
  font-weight: 700;
  font-size: 22px;
  width: 67px;
  overflow: visible;
  padding-top: 14px;
  height: 27px; }

#block-block-1 .year {
  font-weight: 300;
  font-size: 21px;
  width: 65px;
  background-color: #a3c6b1; }

/* Header
-------------------------------------------------------------- */
#header-group {
  background: white url("../images/dot-border-horiz-tan.png") no-repeat bottom center;
  padding-bottom: 15px; }

#header-site-info {
  width: 480px;
  margin-bottom: 0; }

#header-group-inner {
  padding-top: 35px;
  margin-bottom: 20px;
  position: relative; }

#header-group .block .inner {
  margin: 0; }

#site-name-wrapper {
  float: right; }

#site-name a {
  background: transparent url("../images/gardenwalk-header-logo-trans.gif") no-repeat left top;
  height: 0;
  padding-top: 202px;
  display: block;
  overflow: hidden;
  width: 409px;
  z-index: 0;
  /* lower than [under] date banner #block-block-1 */ }

/* Main (Flowerpots) Menu
--------------------- */
#block-menu_block-2 {
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  right: 20px; }

#block-menu_block-2 ul {
  margin-left: 40px; }

#block-menu_block-2 li {
  list-style-type: none;
  list-style-image: none;
  float: left;
  padding: 0 10px; }

#block-menu_block-2 li a {
  height: 150px;
  width: 120px;
  background: transparent url("../images/menu-pot.png") no-repeat 50% bottom;
  display: block;
  text-align: center; }

#block-menu_block-2 li a .title {
  font-family: "museo-1", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 18px; }

#block-menu_block-2 li a .description {
  margin-top: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: .9em; }

#block-menu_block-2 li a a,
#block-menu_block-2 li a:link,
#block-menu_block-2 li a:visited {
  color: #726965; }

#block-menu_block-2 li a:hover,
#block-menu_block-2 li a:focus,
#block-menu_block-2 li a:active {
  color: #f15b2a;
  text-decoration: none;
  background-image: url("../images/menu-pot-hover.png"); }

#block-menu_block-2 li a:hover .description,
#block-menu_block-2 li a:focus .description,
#block-menu_block-2 li a:active .description {
  color: #059347; }

#block-menu_block-2 li a.active,
#block-menu_block-2 li a.active-trail {
  color: #615fc1;
  background-image: url("../images/menu-pot-active.png"); }

/* Secondary Menu
--------------------- */
#main-menu {
  background: white url("../images/dot-border-horiz-tan.png") no-repeat bottom center; }

#main-menu-inner .block {
  margin-bottom: 0; }

#main-menu ul.menu {
  margin: 0; }

#main-menu ul.menu li {
  padding: 0 10px 0; }

#main-menu ul.menu li a {
  padding: 10px 0 16px; }

#main-menu ul.menu li ul {
  padding: 10px 0; }

#main-menu ul.menu li li a {
  padding: 5px 0; }

#main-menu ul.menu li a,
#main-menu ul.menu li a:link,
#main-menu ul.menu li a:visited {
  color: #726965; }

#main-menu ul.menu li a:active,
#main-menu ul.menu li a:hover {
  color: #f15b2a; }

#main-menu ul.menu li a.active,
#main-menu ul.menu li a.active-trail {
  color: #615fc1; }

#main-menu-wrapper ul ul {
  display: inline; }

#main-menu-wrapper ul ul li {
  background-color: #f2ece9; }

/* Main
-------------------------------------------------------------- */
#main {
  background-color: white;
  margin-bottom: 40px; }

#main a,
#main a:link,
#main a:visited {
  color: #f15b2a; }

#main a:hover,
#main a:focus,
#main a:active {
  color: #aa320b; }

#main h1, #main h2, #main h3, #main h4, #main h5, #main h6 {
  color: #615fc1; }

.page-home #main h2 a,
.page-home #main h2 a:link,
.page-home #main h2 a:visited {
  color: #615fc1; }

.page-home #main h2 a:hover {
  color: #aa320b; }

/* Footer
-------------------------------------------------------------- */
#footer-wrapper-wrapper {
  height: 229px; }

#footer-wrapper-top-wrapper {
  height: 65px;
  background: transparent url("../images/footer-grass.png") repeat-x bottom left;
  height: 68px; }

#footer-wrapper-top {
  position: relative;
  margin: 0px auto; }

#footer-wrapper-top-inner {
  position: relative;
  background: transparent url("../images/footer-tools.png") no-repeat top center;
  top: -4px;
  height: 68px; }

#footer-wrapper {
  background-color: #726965; }

#footer-inner {
  padding: 20px 0; }

#footer,
#footer a,
#footer a:link,
#footer a:visited,
#footer h2 {
  color: white; }

#footer h2 {
  font-size: 160%; }

#footer ul li,
#footer ol li {
  list-style-type: none;
  list-style-image: none; }

#footer ul,
#footer ol {
  margin: 0; }

/* Gardens List Block
-------------------------------------------------------------- */
#main .view-id-gardens.view-display-id-block_1 {
  overflow-y: scroll;
  height: 500px; }

#main .view-id-gardens.view-display-id-block_1 .views-field-title a,
#main .view-id-gardens.view-display-id-block_1 .views-field-title a:link,
#main .view-id-gardens.view-display-id-block_1 .views-field-title a:visited {
  color: #615fc1; }

#main .view-id-gardens.view-display-id-block_1 .views-field-tid a,
#main .view-id-gardens.view-display-id-block_1 .views-field-tid a:link,
#main .view-id-gardens.view-display-id-block_1 .views-field-tid a:visited {
  color: #57504d; }

#main .view-id-gardens.view-display-id-block_1 ul {
  margin-left: 0; }

#main .view-id-gardens.view-display-id-block_1 li {
  border: 1px solid #d3cccb;
  padding: 5px;
  list-style-type: none; }

#main .view-id-gardens.view-display-id-block_1 li.views-row-even {
  background-color: #f2ece9; }

/* Gardener Stories Pane (Front Page)
-------------------------------------------------------------- */
.view-id-gardener_stories.view-display-id-block_1 td {
  vertical-align: top;
  width: 50%; }

.view-id-gardener_stories.view-display-id-block_1 td.col-first {
  padding-right: 10px; }

.view-id-gardener_stories.view-display-id-block_1 td.col-last {
  padding-left: 10px; }

.view-id-gardener_stories.view-display-id-block_1 td .views-field-field-thumbnail img {
  border: 1px solid #726965; }

/* Gardener Stories Pane (Neighborhood Page)
-------------------------------------------------------------- */
.pane-views-gardener-stories-block td {
  vertical-align: top; }

.pane-views-gardener-stories-block .views-row {
  clear: both;
  margin-bottom: 20px; }

.pane-views-gardener-stories-block .view-id-gardener_stories.view-display-id-block .views-field-field-images {
  float: left;
  margin-right: 10px; }

.pane-views-gardener-stories-block .view-id-gardener_stories.view-display-id-block .views-field-field-images img {
  border: 1px solid #726965; }

.view-gardener-stories .views-view-grid.cols-2 td {
  width: 50%; }

/* Gardener Story Page
-------------------------------------------------------------- */
.node-story.full-node .field-name-field-images {
  float: right;
  margin-left: 20px;
  border: 1px solid #726965; }

.node-story.full-node .field-name-field-images img {
  padding: 0;
  margin: 0;
  display: block; }

/* 3-column Panels Layout - Straightening out for Fusion
-------------------------------------------------------------- */
.panel-3col-33-stacked .panel-col-first .inside {
  margin: 0 10px 10px 0; }

.panel-3col-33-stacked .panel-col .inside {
  margin: 0 0 10px 10px; }

.panel-3col-33-stacked .panel-col-last .inside {
  margin: 0 -10px 10px 20px; }

/* Image Rotator (Front Page)
-------------------------------------------------------------- */
.panel-3col-33-stacked .panel-col-top .inside {
  padding-bottom: 20px;
  background: white url("../images/dot-border-horiz-tan.png") no-repeat bottom center; }

/* Sponsors Page
-------------------------------------------------------------- */
.page-sponsors td {
  width: 25%;
  padding-bottom: 20px;
  vertical-align: bottom; }

.page-sponsors h2 {
  margin: 40px 0; }

.page-sponsors .views-field-title {
  font-size: .85em;
  margin-top: 25px; }

/* Sponsors Logo Rotator Block
-------------------------------------------------------------- */
#block-views-sponsors-block_2 img {
  border: 10px solid white; }

/* Sponsors List Block
-------------------------------------------------------------- */
#block-views-sponsors-block_1 h2 {
  color: #726965; }

/* Headquarters Block (Neighborhood Page)
-------------------------------------------------------------- */
.pane-views-headquarters-block-2 h2.block-title {
  margin-top: 0; }

.pane-views-headquarters-block-2 .view-id-headquarters.view-display-id-block_2 .view-header p {
  margin-bottom: 0; }

.pane-views-headquarters-block-2 .view-id-headquarters.view-display-id-block_2 .view-content {
  color: #059347; }

/* Printable Map Block (Front Page)
-------------------------------------------------------------- */
.view-id-printable_maps.view-display-id-block_1 ul {
  margin-left: 0; }

.view-id-printable_maps.view-display-id-block_1 li {
  list-style-type: none; }

.view-id-printable_maps.view-display-id-block_1 .views-field-title a {
  background: transparent url("../images/pdf-icon-16x16.png") no-repeat top left;
  padding-left: 25px; }

/* Printable Map Block (Neighborhood Page)
-------------------------------------------------------------- */
.pane-printable-maps-panel-pane-1 {
  margin-top: 0;
  background-color: #e5fef1;
  font-weight: bold;
  text-align: center;
  font-size: 140%;
  padding: 20px 0;
  border: 1px dashed #9bfcc8; }

/* Panel 1-Column Layout
-------------------------------------------------------------- */
.panel-display.panel-1col .panel-separator {
  margin-top: 30px; }

/* Special Features
-------------------------------------------------------------- */
.location-grid td {
  vertical-align: top;
  padding: 20px 10px; }

.location-grid td.col-first {
  padding-left: 0; }

.location-grid td.col-last {
  padding-right: 0; }

.location-grid .views-field-title {
  font-family: "museo-1", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  font-size: 130%;
  color: #615fc1; }

.location-grid .views-field-street {
  color: #059347; }

/* Maps
-------------------------------------------------------------- */
.openlayers-container {
  border: 1px solid #726965; }

.openlayers-popupbox {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: none repeat scroll 0 0 #1a1a1a;
  opacity: 0.85;
  border: 1px solid #666666;
  color: white;
  width: 300px;
  z-index: 100000; }

.openlayers-popupbox * {
  opacity: 1.0; }

.openlayers-popupbox h2.popup-title,
.openlayers-popupbox .popup-content {
  margin: 10px; }

.openlayers-popupbox a.popup-close {
  border: 1px solid #615fc1;
  position: absolute;
  right: 2px;
  top: 2px;
  margin: 0;
  padding: 0 2px 3px 3px;
  text-transform: lowercase;
  line-height: 13px;
  font-size: 13px;
  color: #aaa9dd !important; }

.openlayers-popupbox h2.popup-title {
  font-size: 11pt;
  color: #f15b2a !important; }

.openlayers-popupbox h2.popup-title strong {
  font-size: 13pt;
  color: #059347 !important;
  font-weight: normal; }

.openlayers-popupbox .popup-pager,
.openlayers-popupbox .popup-count {
  display: none; }

/* Small HQ Map on Front Page
--------------------- */
.pane-headquarters-small .openlayers-popupbox {
  left: 5px;
  width: 225px; }

.pane-headquarters-small .openlayers-popupbox h2.popup-title {
  font-size: 11pt;
  color: #059347 !important; }

.pane-headquarters-small .openlayers-popupbox h2.popup-title strong {
  color: #f15b2a !important; }

/* Search Results
--------------------- */
.search-snippet {
  margin-bottom: .5em; }

.search-info .search-info-type {
  color: #059347; }

/* Forms
--------------------- */
div.vertical-tabs-processed {
  border: none; }

.vertical-tabs ul.vertical-tabs-list li {
  background-color: #f2ece9; }

.vertical-tabs ul.vertical-tabs-list,
.vertical-tabs ul.vertical-tabs-list li,
div.vertical-tabs {
  border-color: #d3cccb; }

.vertical-tabs-list {
  left: 0;
  /* reset Fusion */ }

.vertical-tabs ul li.last {
  border-bottom: 1px solid #d3cccb;
  /* reset Fusion */ }

div.vertical-tabs ul li.selected {
  outline: none; }

fieldset {
  border: 1px solid #d3cccb; }

fieldset#edit-agreement {
  background-color: #f2ece9; }

.marker, .form-required {
  color: #d31245; }

.form-submit {
  font-size: inherit; }

.field-group-tabs fieldset fieldset legend {
  display: inline; }

/* Manage Gardens Table
--------------------- */
.view-display-id-page_2 .workflow-Application td {
  background-color: #F9F9C5; }

.view-display-id-page_2 .workflow-Approved td {
  background-color: #e5fef1; }

.view-display-id-page_2 .workflow-Denied td {
  background-color: #fde7ed; }

/* Page content
--------------------- */
.node-page img {
  border: 1px solid #726965; }

.node-page .field-name-field-attached-images {
  float: right; }

/* Post info
--------------------- */
.submitted .author,
.submitted .date {
  color: #03622f; }

.label-inline {
  display: inline;
  font-weight: bold; }

/* News content
--------------------- */
.node-news img,
.view-news img {
  border: 1px solid #726965; }

.view-news.view-display-id-block_1 .views-row {
  clear: both;
  margin-bottom: 20px; }

.view-news.view-display-id-page_2 .views-field-title {
  font-size: 180%;
  margin-top: 1em;
  margin-bottom: .5em; }

.view-news.view-display-id-block_1 .views-field-title {
  font-size: 120%;
  margin-top: 1em;
  margin-bottom: .5em; }

.view-news .views-field-name,
.view-news .views-field-created {
  font-size: 95%;
  color: #03622f; }

.view-news .views-label {
  color: black; }

.view-news.view-display-id-block_1 .views-field-field-attached-images {
  float: right; }

.node-news .field-name-field-attached-images,
.view-news.view-display-id-page_2 .views-field-field-attached-images,
.view-news.view-display-id-block_1 .views-field-field-attached-images {
  float: right;
  margin-left: 5px;
  margin-bottom: 5px; }
